<header>
    <nav aria-label="Hoofd navigatie">  
    <ul>
        <li><a href="/"><img src="/assets/Bieb-in-Bloei-logo-1.svg" alt="Bieb in bloei logo"></a></li>
        <li>
            <ul class="nav-right">
                <li><details aria-label="Projecten menu"><summary>Projecten</summary>
                <li><a href="/">Stekjes</a></li>
                <li><a href="#">Zaden</a></li>
                <li><a href="#">Geveltuin</a></li>
                <li><a href="#">Groenebieb</a></li>
                </details></li>

                <li><a href="#">Agenda</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Over</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </li>
    </ul>
    </nav>
</header>