{% render 'partials/head.liquid' %}
{% include 'partials/nav.liquid' %}

<h1>Welkom bij Bieb in bloei</h1>
{% for stekje in stekjes %}
    <article>
        <a href="/stekjes/{{stekje.id}}">
            <h3>{{stekje.naam}}</h3></a>
        <img src="{{stekje.foto}}" alt="{{stekje.naam}}">
    </article>
{% endfor %}
{% render 'partials/foot.liquid' %}
